/* universal header/footer styles */
a {
	color: black;
	text-decoration: none;
}

a:last-of-type {
	margin-right: 10px;
}

/* html {
	margin-top: 0;
	margin-bottom: 0;
} */

#header {
	font-size: 10px;
	page-break-after: avoid;
	position: relative;
	top: -45px;
	height: 40px;
}

.pagingText {
	position: relative;
	top: -20px;
	right: 10px;
	font-size: 10px;
	text-align: right;
}

.pagingText:after {
	content: counter(page, decimal);
}

#body {
	margin-top: 20px;
}

#criterios {
	font-size: 8px;
	padding-top: 10px;
	padding-bottom: 20px;
}

table {
	font-size: 8px;
}

th,
td {
	text-align: left;
	border-bottom: 1px solid;
}

th {
	padding-right: 20px;
}

tr>td:last-of-type {
	padding-right: 10px;
}


#pagingText {
	font-size: 9px;
	page-break-before: avoid;
	page-break-after: auto;

	position: absolute;
	bottom: 0px;
	right: 10px;
	font-size: 10px;
	text-align: right;
	margin-bottom: -25px;
}

#footerDate {
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 10px;
	text-align: left;
	margin-bottom: -25px;
}

.pageBreak {
	page-break-before: always;
}