:root {
    /* Colors: */
    --primary: #FF4E78;
    --secondary: #11120F;
    --tertiary: #FFFFFF;
    --tertiary2: #F8F8F8;
    --tertiary3: #AAAAAA;
    --tertiary4: #6C757D;
    --tertiary5: #C8CED3;

    /* Filters */
    --filter-bienal-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    --filter-bienal-pink: invert(41%) sepia(77%) saturate(1264%) hue-rotate(317deg) brightness(101%) contrast(104%);

    /* Global Variables */
    --header-height: 120px;
    --popover-btn-width: 260px;
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.otf') format('opentype');
}

@font-face {
    font-family: "Helvetica Neue Roman";
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.otf') format('opentype');
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.otf') format('opentype');
}

@font-face {
    font-family: "FontAwesome";
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=3.2.1');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
        url('../fonts/fontawesome/fontawesome-webfont.woff?v=3.2.1') format('woff'),
        url('../fonts/fontawesome/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
        url('../fonts/fontawesome/fontawesome-social-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    max-width: 100dvw;
    min-width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: var(--header-height);
}

main,
section {
    width: 100%;
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 50px; */
}

table {
    border-collapse: collapse;
    width: 100%;
}

figure img {
    object-fit: contain;
}

[popover] {
    border: 0;
    padding: 0;
}

/* SECTION1 @HOME */
#home-sec1 {
    background-color: var(--primary);
}

#home-sec1-content {
    height: fit-content;
    min-height: 600px;
    width: 100%;
    /* max-width: 1320px; */
    padding-block: 65px;
    padding-inline: 40px;
    line-height: 1;

    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: var(--primary);
    color: var(--tertiary);
}

#home-sec1-content h1 {
    font-family: "Helvetica Neue Roman";
    font-size: 32px;
    font-weight: normal;
    text-align: start;
    text-wrap: auto;
    margin-bottom: 60px;
}

#home-sec1-content h2 {
    font-family: "Helvetica Neue Bold";
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#home-sec1-content h3 {
    font-family: "Helvetica Neue Roman";
    font-size: 24px;
    text-transform: lowercase;
    font-weight: normal;
    margin-bottom: 35px;
}

#home-sec1-content p {
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: auto;
}

#home-sec1-main-list a {
    font-family: "Helvetica Neue Medium";
    font-size: 18px;

    width: 103px;
    height: 48px;
    min-height: 48px;

    color: inherit;
    /* background-color: inherit; */
    text-decoration: none;

    border: 1px solid var(--tertiary);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;
    margin-right: auto;

    &:hover {
        color: var(--primary);
        background-color: var(--tertiary);
    }
}

#home-sec1-main-list {
    list-style: none;
    padding: 0;
    height: 100%;
    min-height: 340px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

#home-sec1-main-list li {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#home-sec1-content hr {
    color: var(--tertiary);
    border: 0;
    border-bottom: 2px solid var(--tertiary);
    width: 100%;
    margin-bottom: 40px;
}

#home-sec1-content>hr {
    margin-top: 40px;
    margin-bottom: 60px;
}

#home-sec1-footer {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 40px;
}

#home-sec1-footer h1 {
    margin-block: 0;
}

/* SECTION1 @HOME END */

/* SECTION-LIST HEADER @HOME */
.home-sec-header {
    --home-sec-header-gap: 20px;
    display: flex;
    gap: var(--home-sec-header-gap);
    margin-block: 60px;
}

.home-sec-header h1 {
    font-family: "Helvetica Neue Roman";
    font-size: 32px;
    font-weight: normal;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1;
}

.home-sec-header>.home-gallery-hr-row {
    width: 100%;
    display: inline flex;
    gap: var(--home-sec-header-gap);
}

.home-sec-header>.home-gallery-hr-row>a {
    font-size: 18px;
    white-space: nowrap;
    text-transform: capitalize;
    line-height: 2;
}

.home-sec-header>.home-gallery-hr-row>a:hover {
    color: var(--secondary);
}

.home-sec-header>.home-gallery-hr-row>a::after {
    content: '';
    display: inline-block;
    border: solid var(--primary);
    border-width: 0 2px 2px 0;
    padding: 4px;

    margin-inline: 5px;
    translate: 4px 0px;
    transform: rotate(-45deg);
}

.home-sec-header>.home-gallery-hr-row>a:hover::after {
    border-color: var(--secondary);
}

#home-select-div #home-select-btn::before {
    content: '';
    display: inline-block;
    border: solid var(--tertiary);
    border-width: 0 2px 2px 0;
    padding: 8px;
    margin-inline: 5px;
    translate: -8px -6px;
    transform: rotate(45deg);
}

#home-select-div #home-select-btn:hover::before,
#home-select-div #home-select-btn:active::before {
    border-color: var(--primary);
}

#home-select-div:has(#home-select-popover[style*="display: flex"]) #home-select-btn {
    color: var(--primary);
    background-color: var(--tertiary);

    border-color: var(--primary);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
        border-color: var(--primary);
    }
}

.home-sec-header hr {
    margin-block: auto;
    width: 100%;
    border: 0;
    border-top: 2px solid var(--tertiary3);
}

main:has(#home-sec1) section:last-of-type .gallery-list {
    border-bottom: 2px solid var(--tertiary3);
    margin-bottom: 80px !important;
}

/* SECTION-LIST HEADER @HOME END */

/* SECTION-LIST HEADER NOT @HOME */
.sec-header {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    margin-block: 40px;
    width: 100%;
}

.sec-header span {
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    line-height: 1;
}

.sec-header a,
.sec-header b {
    font-family: "Helvetica Neue Bold";
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: var(--secondary);
}

.sec-header>span:first-of-type>a:last-child,
.sec-header>span:first-of-type>b:last-child {
    color: var(--primary);
}

.sec-header>div>span {
    text-transform: lowercase;
}

.sec-header>div>span>b {
    text-transform: capitalize;
}

.sec-header hr {
    width: 100%;
    border: 0;
    border-top: 2px solid var(--tertiary5);

    margin-top: 10px;
}

.sec-header>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sec-header>div:first-of-type {
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;

}

.sec-header h1 {
    font-family: "Helvetica Neue Bold";
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
}

.sec-header label {
    font-family: "Helvetica Neue Roman";
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;

    background-color: var(--tertiary2);
    border-radius: 4px;
}

.sec-header button,
.select-btn {
    height: 48px;
    width: 48px;
    padding-top: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: var(--primary);
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    border-radius: 4px;

    font-family: "Helvetica Neue Medium";
    font-size: 18px;
    line-height: 1;

    anchor-name: --sec-header-popover-anchor;
}

.select-div:first-of-type .sec-header button,
.select-div:first-of-type .select-btn {
    anchor-name: --sec-header-popover-anchor;
}

.select-div:not(:first-of-type) .sec-header button,
.select-div:not(:first-of-type) .select-btn {
    anchor-name: --sec-header-popover-anchor2;
    padding-left: 17px;
}

.select-btn {
    gap: 12px;
    width: var(--popover-btn-width);
}

.select-btn a:hover {
    color: var(--tertiary);
}

.select-btn:hover img {
    filter: var(--filter-bienal-white)
}

#home-select-btn {
    color: var(--tertiary);
    background-color: var(--primary);
    border: 1px solid var(--tertiary);

    img {
        filter: var(--filter-bienal-white)
    }
}

.sec-header div:has([popover]) button,
.select-div:has([popover]) .select-btn {
    width: var(--popover-btn-width);
}

.sec-header button:hover,
.select-btn:hover,
.select-div:has(div:popover-open) .select-btn,
.sec-header:has(div:popover-open) button {
    cursor: pointer;
    color: var(--tertiary);
    background-color: var(--primary);

    img {
        filter: var(--filter-bienal-white)
    }
}

#home-select-btn:hover,
#home-select-div:has(div:popover-open) .select-btn {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--tertiary);
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);

    img {
        filter: var(--filter-bienal-pink)
    }
}


.sec-header button:hover img,
.select-btn:hover img,
.select-div:has(div:popover-open) .select-btn img,
.sec-header:has(div:popover-open) button img {
    filter: var(--filter-bienal-white)
}

.select-div:has(div:popover-open) .select-btn,
.sec-header:has(div:popover-open) button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select-btn img,
.sec-header button img {
    filter: var(--filter-bienal-pink);
    height: 24px;
}

.select-btn.Detail {
    width: var(--popover-btn-width);
}

#Detail-select-wrapper:has(#select-popover[style*="display: block"]) .select-btn,
#Browse-select-wrapper1:has(#report-list-popover[style*="display: block"]) .select-btn,
#Browse-select-wrapper2:has(#view-list-popover[style*="display: block"]) .select-btn {
    color: var(--tertiary);
    background-color: var(--primary);

    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#Detail-select-wrapper:has(#select-popover[style*="display: block"]) .select-btn img,
#Browse-select-wrapper1:has(#report-list-popover[style*="display: block"]) .select-btn img,
#Browse-select-wrapper2:has(#view-list-popover[style*="display: block"]) .select-btn img {
    filter: var(--filter-bienal-white);
}

.select-popover {
    position: absolute;
    inset: auto;
    overflow: hidden;

    position-anchor: --sec-header-popover-anchor;
    top: anchor(--sec-header-popover-anchor bottom);
    left: anchor(--sec-header-popover-anchor left);

    border: 0;
    padding: 0;
    width: var(--popover-btn-width);
}

.select-div:first-of-type .select-popover {
    position-anchor: --sec-header-popover-anchor;
    top: anchor(--sec-header-popover-anchor bottom);
    left: anchor(--sec-header-popover-anchor left);
}

.select-div:not(:first-of-type) .select-popover {
    position-anchor: --sec-header-popover-anchor2;
    top: anchor(--sec-header-popover-anchor2 bottom);
    left: anchor(--sec-header-popover-anchor2 left);
}

.select-popover ul {
    list-style: none;
    padding: 0;
    border-top: 1px solid var(--primary);
    width: var(--popover-btn-width);

    display: flex;
    flex-direction: column;
}

.select-popover a,
.select-popover li {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-popover li:has(a:empty) {
    display: none;
}

.select-popover a {
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);

    font-family: "Helvetica Neue Medium";
    font-size: 18px;
    line-height: 1;
    text-decoration: none;

    color: var(--primary);
    background-color: var(--tertiary);

    &:hover {
        color: var(--tertiary);
        background-color: var(--primary);
    }
}

#home-select-popover, #select-popover, #report-list-popover, #view-list-popover {
    display: none;
}

#home-select-div .select-popover a:hover {
    border-left: 1px solid var(--tertiary);
    border-right: 1px solid var(--tertiary);
    border-bottom: 1px solid var(--tertiary);
}

/* SECTION-LIST HEADER NOT @HOME END */

/* SECTION-LIST FOOTER NOT @HOME */
.sec-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 67px;
}

.sec-footer-social-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-block: auto;
    align-self: flex-end;
}

.sec-footer-social-list li:not(:has(img)) {
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    width: fit-content;
}

.sec-footer-social-list li:has(img) {
    height: 24px;
    width: 24px;
}

.sec-footer-social-list img:not(.share-img) {
    filter: var(--filter-bienal-pink);
}

/* SECTION-LIST FOOTER NOT @HOME END */

/* SECTION-LIST */
.sec-bg-color {
    background-color: var(--tertiary);
}

.sec-content {
    height: fit-content;
    width: 100%;
    /* max-width: 1320px; */
    padding-inline: 40px;

    display: flex;
    flex-direction: column;
    justify-content: start;

    background-color: var(--tertiary);
    color: var(--secondary);
}

.sec-content.gallery-index {
    padding-inline: 0;
}

.sec-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    column-gap: 40px;
    /* margin-inline: auto; */
}

.sec-list h2 {
    color: var(--secondary);
    font-family: "Helvetica Neue Bold";
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3;
}

.sec-list span {
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    text-transform: capitalize;
}

.sec-list a {
    text-decoration: none;
    font-family: "Helvetica Neue Bold";
    font-size: 18px;
    color: var(--primary);

    &:hover {
        color: var(--secondary);
    }
}

.sec-list-item {
    border-top: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 60px;

    display: flex;
    gap: 0;
}

.sec-list-item>.sec-li-info-div {
    padding-block: 40px;
    min-height: 250px;
    /* max-height: 280px; */
    /* width: 100%; */

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    >div:first-of-type {
        display: flex;
        justify-content: space-between;
    }
}

.sec-list-item .sec-img-div {
    min-width: 50%;
    max-width: 50%;
    margin-right: 20px;
    background-color: var(--tertiary3);
    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}


.gallery-list {
    margin-inline: 0;
}

.gallery-list li {
    justify-content: space-between;
}

.gallery-list .sec-img-div {
    /* height: 100%; */
    max-width: 33%;
    min-width: 33%;
    aspect-ratio: 1 / 1;
    /* width: 200px;
    min-width: 200px; */
    margin-block: 40px;
    margin-right: 0;
    background-color: var(--tertiary);
}

.gallery-list .sec-li-info-div {
    padding-left: 20px;
    width: 50%;
    /* max-width: 64%; */
    /* aspect-ratio: 400 / 280; */
}

.gallery-list>li:not(:has(.sec-img-div)) .sec-li-info-div {
    padding-left: 0;
    max-width: 100%;
    width: 100%;
}

/* .gallery-list h2 {
    max-width: 60%;
} */

.gallery-list>li:not(:has(.sec-img-div)) h2 {
    max-width: 60%;
}

.gallery-index .gallery-list:not(:has(.sec-img-div)) h2 {
    max-width: 100%;
}

.gallery-list:not(:has(.sec-img-div)),
.collection-list {
    grid-template-columns: repeat(3, 1fr);
}

.collection-list .sec-li-info-div {
    max-width: 100%;
    width: 100%;
}

main:has(#home-sec1) .home-sec-header {
    margin-block: 0;
}

main:has(#home-sec1) .home-sec-header hr {
    border-color: var(--secondary);
}

main:has(#home-sec1) .sec-content:has(.home-gallery-hr-row) .gallery-list {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 0;
    margin-bottom: 0;
}

main:has(#home-sec1) .sec-content:has(.home-gallery-hr-row) .gallery-list .sec-list-item {
    max-height: 550px;
    /* aspect-ratio: unset; */
    border-top: 0;
    border-bottom-color: var(--tertiary3);
    margin-top: 60px;
    margin-bottom: 20px;
}

main:has(#home-sec1) .sec-content:has(.home-gallery-hr-row) .gallery-list .sec-list-item:last-of-type:not(:first-of-type) {
    border-bottom: 0;
}

.sec-content .gallery-list .sec-img-div {
    max-width: 50%;
    flex-direction: column;
    background-color: var(--tertiary2);
}

.sec-content .gallery-list .sec-img-div>a {
    max-height: calc(550px - 34px - 80px);
}

.sec-content .gallery-list .sec-img-div>a>img {
    max-height: inherit;
}

main:has(#home-sec1) .sec-content .gallery-list .sec-img-div main:has(#home-sec1) .sec-content .gallery-list .sec-li-info-div {
    padding-block: 0;
    margin-block: 0;
}

main:has(#home-sec1) .sec-content:first-of-type {
    margin-top: 70px;
}

main:has(#home-sec1) .sec-content

/*:has(.home-gallery-hr-row)*/
    {
    max-width: 1200px;
    padding-inline: 0;
    margin-inline: auto;
}

.sec-li-info-div h2+p {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.sec-li-info-div:has(h2 + p)>div {
    margin-top: auto;
}

.sec-li-info-div a+p {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.sec-li-info-div:has(a + p)>div {
    margin-top: auto;
}

figcaption {
    font-family: "Helvetica Neue Roman";
    font-size: 16px;
    margin-top: 10px;
}

/* SECTION-LIST END */

.sidebar {
    vertical-align: top;
    position: relative;
    flex-basis: 22%;
    /* flex-grow: 2; */
    border-top: 2px solid var(--secondary);
    /* border-bottom: 2px solid var(--secondary); */
    font-size: 16px;
}

.sidebar-header {
    text-transform: uppercase;
    color: var(--secondary);
    font-family: "Helvetica Neue Bold";
    background-color: var(--tertiary2);
    padding: 10px;
    /* padding-block: 30px; */
}

.sidebar-header-results-counter {
    font-family: "Helvetica Neue Roman" !important;
}

.sidebar-item {
    padding: 10px;
}

.sidebar-item:nth-child(even) {
    background-color: var(--tertiary2);
}

.sidebar-items {
    border-bottom: 2px solid var(--secondary);
}

a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica Neue Bold";
    display: inline-block;
    vertical-align: top;
    /* padding: 10px; */
    color: var(--primary);
}

p {
    font-family: "Helvetica Neue Roman";
    font-size: 16px;
    /* padding: 10px; */
}

.multisearch-results {
    display: flex;
    gap: calc(4vh);
    justify-content: center;
    margin-bottom: 60px;
}

.all-results-button {
    display: inline flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    width: 260px;

    border: 1px solid var(--primary);
    border-radius: 4px;
    margin-top: 40px;
}

.all-results-button::before {
    content: '';
    height: 28px;
    width: 24px;
    margin-right: 10px;

    background-image: url(../svg/magnifying-glass.svg);
    background-repeat: no-repeat;
    filter: var(--filter-bienal-pink);
    pointer-events: none;
}

.all-results-button:hover {
    color: var(--tertiary);
    background-color: var(--primary);
}

.all-results-button:hover::before {
    filter: unset;
}

.advanced-search-form form {
    display: flex;
    flex-flow: row wrap;
    width: 99dvw;
    padding-inline: 40px;
    gap: 40px;
}

.advanced-search-form-column {
    border-top: 2px solid var(--secondary);
    flex-basis: calc(25% - 60px);
    flex-grow: 2;
    margin-top: 30px;
    /* margin-left: 20px; */
    /* margin-right: 40px; */
}

.advanced-search-form-field {
    width: 100%;
    transition: background-color 1s;
    position: relative
}

.advanced-search-form-field:nth-child(odd) {
    background-color: var(--tertiary2);
}

.advanced-search-form-field>label {
    min-width: 30% !important;
    width: 30% !important;
}

.advanced-search-form-field label,
.advanced-search-form-field i {
    font-style: normal;
    font-family: "Helvetica Neue Bold";
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    color: var(--secondary);
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 15px;
}

.advanced-search-form-field table {
    width: 100%;
    position: relative
}

.advanced-search-form-field>div {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px);
    position: relative
}

.advanced-search-form-field>div>div {
    display: block
}

.advanced-search-form-field input,
.advanced-search-form-field select,
.advanced-search-form-field textarea {
    resize: none;
    outline: none;
    vertical-align: top;
    min-height: 33px;
    width: calc(100% - 170px) !important;
    color: var(--secondary);
    background-color: var(--tertiary);
    border: 1px solid var(--secondary);
    border-radius: 4px;
}

.advanced-search-form-field input,
.advanced-search-form-field select,
.advanced-search-form-field textarea,
.selectBox-dropdown {
    margin: 0;
    margin-block: 15px;
    height: 50px !important;
    width: 100% !important;
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    padding-left: 15px;
}


.advanced-search-form-field textarea {
    padding-top: 10px;
}

.advanced-search-form-field>input,
.advanced-search-form-field>div {
    min-width: 69% !important;
    width: 69% !important;
}

.advanced-search-form-field>div input {
    width: 100% !important
}

.selectBox-dropdown {
    display: flex !important;
    align-items: center;

    border: 1px solid var(--primary);
    color: var(--secondary);
    background-color: var(--tertiary);
}

.selectBox-options li a {
    background-color: var(--tertiary) !important;
    color: var(--secondary) !important;

    &:hover {
        background-color: var(--primary) !important;
        color: var(--tertiary) !important;
    }
}

.selectBox-dropdown {
    color: var(--secondary) !important;
}

.selectBox.selectBox-disabled .selectBox-label {
    color: var(--tertiary4) !important;
}

.selectBox-dropdown-menu {
    border: 1px solid var(--primary) !important;
}

.selectBox-dropdown .selectBox-label {
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    font-family: "Helvetica Neue Roman" !important;
    font-size: 16px !important;
}

.selectBox-dropdown .selectBox-arrow {
    border-left: 1px solid var(--primary);
    filter: var(--filter-bienal-pink);
}

.advanced-search-form .submit-button {
    padding: 30px;
    flex-basis: 100%;
}

.advanced-search-form .submit-button {
    border-top: 2px solid var(--secondary);
    border-bottom: 2px solid var(--tertiary4);
    margin-bottom: 60px;
}

.advanced-search-form .submit-button a {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-family: "Helvetica Neue Medium";
    font-size: 18px;
    line-height: 1;

    background-color: var(--tertiary);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    margin: 0 auto;
    padding-inline: 15px;
    padding-top: 17px;
    padding-bottom: 13px;

    &:hover {
        background-color: var(--primary);
        color: var(--tertiary);
    }
}

.browse-main-content {
    display: flex;
}

.browse-results {
    margin-left: 40px;
    padding-right: 15px;
    padding-bottom: 32px;
    border-top: 2px solid var(--secondary);
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    height: 100%;
    position: relative;
}

.browse-results-toolbar {
    padding-block: 30px;
    height: 90px;
    /* text-align: right; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: var(--tertiary2);
}

.browse-results-toolbar-buttons {
    display: flex;
    margin-left: auto;
    padding-right: 15px;
    gap: 20px;
}

.browse-results-table-header {
    font-family: "Helvetica Neue Bold";
    font-size: 16px;
    text-transform: uppercase;
    /* height: 94px; */
    color: var(--secondary);
    background-color: var(--tertiary2);
    border-block: 2px solid var(--secondary);
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.browse-results-table-row {
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.browse-results-table-row:nth-child(even) {
    background-color: var(--tertiary2);
}

.browse-results-table-column {
    padding: 20px 10px;
    /* display: inline-block; */
    /* width: 20%; */
    /* vertical-align: top; */
    border-left: 1px solid var(--tertiary3);
    /* height: 100%; */
}

.browse-results-table-column:first-child {
    border: none
}

.browse-results-table-items {
    font-family: "Helvetica Neue Roman";
    font-size: 16px;
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    height: max-content;
}

.pagination-bar,
main #paginacao {
    font-family: "Helvetica Neue Bold";
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--tertiary3);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-bar-summary {
    float: left;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-family: "Helvetica Neue Bold";
    font-size: 18px;
    color: var(--secondary);
    /* padding-left: 15px; */
    /* margin-right: auto; */
    width: 15%;
    text-align: start;
}

.pagination-bar-page-numbers,
.paginas {
    display: flex;
    align-items: center;
}

.pagination-bar-page-numbers ul,
.paginas ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-bar-page-numbers ul li,
.paginas ul li {
    display: inline-block;
    font-size: 16px;
    padding: 0px;
}

.pagination-bar-page-numbers ul li.pagination-bar-selected-page a,
.paginas ul li.selecionado a {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--tertiary);
}

.pagination-bar-page-numbers a,
.paginas a {
    text-decoration: none;
    color: var(--primary);
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 0;
    margin-left: 20px;

    min-width: 30px;
    height: 30px;

    display: inline-block;
    align-content: center;
    font-size: 16px;
}

.paginas .icon.anterior,
.paginas:not(:has(.icon.anterior)) .icon.icon.inicio {
    margin-right: 20px;
}

.pagination-bar-page-numbers li a,
.paginas li a {
    padding-top: 3px;
}


.pagination-bar-page-jumper,
main #paginacao .jumper {
    color: var(--secondary);
    /* margin-left: auto; */
}

.pagination-bar-page-jumper input,
main #paginacao .jumper input {
    background-color: var(--tertiary);
    color: var(--tertiary4);
    border: 1px solid var(--tertiary3);
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 3px;

    width: 90px;
    height: 30px;
    margin-left: 4px;

    font-size: 16px;
    text-align: end;
}

.browse-results-facets {
    border-top: 2px solid var(--secondary);
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
    margin-right: 40px;
}

.browse-results-facets h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: var(--primary);
    padding-top: 20px;
    padding-bottom: 42px;
    margin: 0;
}

.browse-results-facets h3 a {
    color: var(--primary);
    line-height: 2;
}

.browse-results-facets h3:before {
    content: "\f0b0";
    font-family: "FontAwesome";
    margin-right: 5px
}

.browse-results-facets ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: #333;
}

.browse-results-facets li {
    width: 100%;
    font-family: "Helvetica Roman";
    padding: 4px;
    border: 1px solid var(--tertiary3);
    border-radius: 4px;
    background-color: var(--tertiary2);
}

.browse-results-facets a {
    font-family: "Helvetica Neue Bold";
    text-decoration: none;
    font-size: 16px;
}

.browse-results-sort-bar {
    padding: 20px 10px;
    color: var(--secondary);
    font-size: 16px !important;
    border-top: 2px solid var(--secondary);
    display: flex;
    align-items: center;
    gap: 20px;
}

.browse-results-sort-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.browse-results-sort-bar ul li:first-of-type {
    font-family: "Helvetica Neue Medium";
}

.browse-results-sort-bar ul li {
    display: inline-block;
    line-height: 20px;
    padding: 4px
}

.browse-results-sort-bar ul li a {
    color: var(--tertiary4);
    font-family: "Helvetica Neue Bold";
    text-decoration: none;
    text-transform: capitalize;
}

.browse-results-sort-bar ul li:not(:first-of-type) {
    font-family: "Helvetica Neue Bold";
    color: var(--tertiary4);
    background-color: var(--tertiary2);
    border: 1px solid var(--tertiary3);
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-inline: 9px;
}

.browse-results-sort-bar ul li.selecionado {
    font-family: "Helvetica Neue Bold";
    color: var(--tertiary);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-inline: 9px;
}

.summary-sheet {
    vertical-align: top;
    font-size: 12px;
    position: relative;
    flex-basis: 80%;
    flex-grow: 2;
}

#itens:not(:has(.col.descricao:not(:empty))) .item .col.descricao:empty {
    display: none;
}

.wrapper:has(:has(.descricao)) .summary-sheet {
    flex-basis: 60%;
}

.wrapper:has(.summary-sheet) #conteudo:has(.descricao:not(:empty)) {
    flex-basis: 39%;
}

.summary-sheet-attributes {
    border-block: 2px solid var(--secondary);
}

.summary-sheet-attribute {
    width: 100%;
    min-height: 80px;
    text-align: right;
    align-content: center;
}

.summary-sheet-attribute:nth-child(odd) {
    background-color: var(--tertiary2);
}

.summary-sheet-attribute-label {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    padding: 11px;
    color: var(--secondary);

    font-family: "Helvetica Neue Bold";
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
}

.summary-sheet-attribute-value {
    display: inline-block;
    max-width: calc(100% - 260px);
    width: 100% !important;
    vertical-align: top;
    padding: 11px;

    font-family: "Helvetica Neue Roman";
    font-size: 16px;
    text-align: left;
}

.summary-sheet-attribute-value a {
    font-family: "Helvetica Neue Bold";
    font-size: 16px;
    text-decoration: none;
    color: var(--primary);

    &:hover {
        color: var(--secondary);
    }
}

.summary-sheet-attribute:last-child {
    border: none
}

.summary-sheet-subattribute span:nth-child(2) {
    font-family: "Helvetica Neue Roman";
}

.summary-sheet-subattribute span:nth-child(1) {
    font-family: "Helvetica Neue Bold";
}


.wrapper {
    --wrapper-margin-inline: 40px;
    margin-inline: var(--wrapper-margin-inline);
    margin-bottom: 60px;
    max-width: calc(100dvw - 2 * var(--wrapper-margin-inline));
    width: 100%;
    display: flex;
    gap: 40px;
}

main:not(:has(.sec-header img)) #conteudo {
    border-block: 2px solid var(--secondary);
}

.wrapper:has(.summary-sheet) #conteudo .item a {
    width: 100%;
}

/* .wrapper:has(.summary-sheet) #conteudo .item .tipo {
    width: 25%;
} */

/* .wrapper:has(.summary-sheet) #conteudo .item .titulo {
    width: 65%;
} */

/* .wrapper:has(.summary-sheet) #conteudo .item .descricao,
.wrapper:has(.summary-sheet) #conteudo .item .img {
    display: none;
} */

.wrapper:not(:has(#conteudo)):not(:has(#media_representativa)) {
    max-width: max(50%, 600px);
    margin-inline: auto;
}

.wrapper:has(#media_representativa) {
    flex-direction: row-reverse;
}

.wrapper:not(:has(.summary-sheet)) #conteudo {
    width: 100%;
}

.wrapper:has(#paginacao) #conteudo {
    border-bottom: 0;
}

.wrapper:has(#paginacao) {
    margin-bottom: 0;
}

#links {
    vertical-align: top;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding-inline: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-top: 2px solid var(--tertiary4);
}

main #links a {
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    width: 100%;

    display: inline flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}

main #links .gallery-link {
    border: 0;
    border-radius: 0;
    padding-block: 0;
    font-family: "Helvetica Neue Bold";
    font-size: 16px;
    text-transform: none;
    width: 100%;
    margin-left: 15px;
}

main #links:has(.gallery-link) {
    padding: 0 !important;
    gap: 0;
}

main #links:has(.gallery-link) * {
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-inline: auto !important;
}

main #links .gallery-link,
main #links:has(.gallery-link) span {
    padding-inline: 15px !important;
    height: 80px;
    align-content: center;
}

#itens .item:nth-child(even) {
    background-color: var(--tertiary2);
}

#itens .item a {
    text-decoration: none;
    color: var(--primary);
    width: 100%;

    &:hover {
        color: var(--secondary);
    }
}

#itens .item:last-child {
    border: none
}

#itens .item .col {
    padding: 20px 10px;
    /* display: inline-block; */
    vertical-align: top;
    border-left: 1px solid var(--tertiary3);
}

#itens .item .col:first-child {
    border: none
}

#itens .item .col.tipo {
    width: 20%;
    text-transform: uppercase;
    color: var(--secondary);
    margin-right: 5px;
    font-family: "Helvetica Neue Bold";
}

#itens .item .col.titulo {
    width: 30%;
    color: var(--primary);

    &:hover {
        color: var(--secondary);
    }
}

#itens .item .col.descricao {
    font-family: "Helvetica Neue Roman";
    font-size: 16px;
    width: 40%;
    color: var(--secondary);
}

#itens:has(.col.img) .item .col.descricao.col:nth-child(3):nth-last-child(1) {
    border-right: 1px solid var(--tertiary3);
}

#itens .item .col.img {
    padding-block: 20px;
    padding-left: 10px;
    padding-right: 20px;
    width: 4%;
}

#itens .item .col.img>img {
    min-width: 24px;
}

#contagem {
    text-transform: uppercase;

    color: var(--secondary);
    background-color: var(--tertiary2);

    padding-left: 15px;
    padding-block: 30px;
}

#contagem strong {
    font-family: "Helvetica Neue Bold";
    font-weight: normal;
}

#contagem {
    font-family: "Helvetica Neue Roman";
    border-top: 2px solid var(--secondary);
}

#conteudo .gallery-sidebar {
    border: 0;
}

#itens {
    border-bottom: 2px solid var(--secondary);
}

.sec-header,
.sec-list,
.sec-footer {
    padding-inline: 40px;
}

.sec-header {
    grid-area: sec-header;
}

.browse-results {
    grid-area: browse-results;
}

.browse-results-facets {
    grid-area: browse-results-facets;
}

.sec-footer {
    grid-area: sec-footer;
}

.browse-results-table-grid {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-areas:
        "sec-header sec-header"
        "browse-results browse-results-facets"
        "sec-footer sec-footer"
}

.sec-header>div:has(#criterios) {
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

#criterios {
    min-height: 30px;
}

#criterios a {
    text-decoration: none;
    font-family: "Helvetica Neue Bold";
    background-color: var(--bienal_primary);
    color: var(--secondary);
    font-size: 16px;

    display: inline-block;
    min-height: 30px;
    border: 1px solid var(--tertiary3);
    border-radius: 4px;
    padding-left: 9px;
    padding-right: 5px;
    padding-top: 2px;

    margin-left: 20px;
    margin-block: 5px;

    white-space: nowrap;
}

#criterios a:first-of-type {
    margin-left: 40px;
}

#criterios span {
    font-family: "Helvetica Neue Roman";
    background-color: var(--tertiary);
    color: var(--secondary);
    /* padding: 9px 16px 9px 10px; */
    font-size: 16px;
    /* margin-right: 5px */
}

#criterios a:before {
    content: "\f00d";
    font-family: "FontAwesome";
    margin-right: 5px;
    opacity: .5
}

#filtros a {
    color: var(--tertiary4);
    padding-block: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#facetas li.titulo {
    font-family: "Helvetica Bold";
    width: 100%
}

#ferramentas .icon {
    line-height: 30px;
    margin: 0px 8px;
    font-size: 22px
}

#ferramentas .botao {
    margin-left: 3px;
    font-family: "Helvetica Medium";
    font-size: 11px;
    text-transform: uppercase
}

#itens .item:last-child {
    border: none
}

main #paginacao .pagina {
    padding-left: 0;
}

main #paginacao .paginas li:first-of-type a {
    margin-left: 0;
}

main #paginacao .paginas ul a {
    padding-top: 3px;
    padding-inline: 9px;
}

.icon {
    color: inherit
}

.icon:before,
.glyphicon:before {
    font-family: "FontAwesome";
    border: none;
    font-size: inherit;
    color: inherit;
    vertical-align: top
}

.glyphicon-remove-circle:before {
    content: "\f05c"
}

.icon.download:before {
    content: "\f019"
}

.icon.layout:before {
    content: "\f0ca"
}

.icon.inicio:before {
    content: "\f100"
}

.icon.final:before {
    content: "\f101"
}

.icon.question:before {
    content: "\f059"
}

.icon.proximo:before {
    content: "\f105"
}

.icon.anterior:before {
    content: "\f104"
}

.pagination-bar-page-numbers li a,
.icon.inicio:before,
.icon.anterior:before,
.icon.proximo:before,
.icon.final:before {
    padding-inline: 9px;
}

.icon.ordenacao-asc,
.icon.ordenacao-desc {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: 48px;
    min-width: 48px;
    margin-left: auto;
    font-size: 20px;

    background-color: var(--tertiary);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;

    &:hover {
        background-color: var(--primary);
        color: var(--tertiary);
        border: 1px solid var(--tertiary);
    }
}

.icon.ordenacao-asc:before {
    content: "\f160";
}

.icon.ordenacao-desc:before {
    content: "\f161";
}

.fa-cog:before {
    font-family: "FontAwesome";
    border: none;
    font-size: inherit;
    font-style: normal;
    color: inherit;
    vertical-align: top;
    content: "\f013";
}

#media_representativa .image-subtitle,
/* #media_representativa .download-button, */
#home-sec1-main-list-tracker {
    display: none;
}

.select-btn .list-refresh-svg {
    height: 30px;
    margin-bottom: 2px;
}

#media_representativa div:has(.download-button) {
    display: flex;
    align-items: center;
    justify-content: center;
}

#media_representativa .download-button {
    font-family: 'Helvetica Neue Medium';
    color: var(--primary);
    background-color: var(--tertiary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding-inline: 10px;
    padding-top: 5px;
}

main:has(.wrapper) .sec-footer {
    margin-top: 30px;
}

#media_representativa,
#media_representativa iframe {
    width: 45dvw;
    min-width: 45dvw;
}

#media_representativa iframe {
    height: 45dvw;
}

#media_representativa #media_representativa_seletor {
    display: flex;
    align-items: center;
    gap: 10px;
}

#media_representativa #media_representativa_seletor .links {
    margin-top: 15px;
    margin-bottom: 9px;
    padding-top: 4px;
    height: 50px;
    width: 50px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
}

#media_representativa_seletor .icon.anterior:before,
#media_representativa_seletor .icon.proximo:before {
    font-size: 28px;
}

#media_representativa .image-subtitle {
    content: "Placeholder legenda.";
    font-family: "Helvetica Neue Roman";
    font-family: 18px;
}


#bMorePanel {
    background-color: var(--primary) !important;
    z-index: 1000;
}

#bMorePanel #bScrollListLabel,
#bMorePanel #bScrollListLabel .bFilterCount {
    color: inherit !important;
    background-color: inherit !important;
}

#bMorePanel #bMorePanelClose {
    justify-content: flex-end;
    color: black;
    height: 0px;
    font-size: 24px;
}

#bLetterBar {
    overflow: scroll;
    scrollbar-width: none;
}

#bScrollList {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--tertiary);
}

#bScrollList * {
    text-align: start !important;
    font-size: 16px !important;
}

.bResultItemText span {
    text-decoration: none !important;
    font-family: "Helvetica Neue Medium";
    font-size: 16px;
    line-height: 1;
    color: var(--secondary);
    height: 2ch;
}

.bResultItemText span:nth-child(2) {
    font-family: "Helvetica Neue Roman" !important;
    height: 4ch;
    overflow: hidden;
    line-height: 1.2;
}

.sec-footer-social-list.getSetInfo {
    padding-top: 30px;
}

.sec-header>div>.browse-results-span {
    text-transform: lowercase;
}

.sec-header>div:has(#criterios)>.browse-results-span {
    white-space: nowrap;
}

.browse-results-table-wrapper {
    border-collapse: collapse;
    width: 100%;
}

.browse-results-table-wrapper tr .img-flag {
    min-width: 24px;
}

.browse-results-table-wrapper tr .level-td,
.browse-results-table-wrapper tr .type-td,
.browse-results-table-wrapper tr .event-td {
    min-width: 200px;
}

.table-overflow {
    overflow-x: scroll;
    scrollbar-width: none;
}

.no-content::before,
.no-content::after {
    content: unset !important;
}

@media screen and (width <=1200px) {
    #home-sec1-main-list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 80px;
    }

    #home-sec1-main-list a {
        margin-top: 20px;
    }

    .gallery-list>li .sec-li-info-div h2 {
        max-width: 100%;
    }

    main:has(#home-sec1) section>*,
    main:has(#home-sec1) .sec-bg-color>* {
        padding-inline: 20px;
    }
}

@media screen and (width <=1024px) {
    .sec-list-item h2 {
        font-size: 28px;
    }
}

@media screen and (width <=940px) {
    #home-sec1-footer {
        align-items: start;
    }

    .sec-list {
        grid-template-columns: repeat(1, 1fr);
        margin-inline: 0;
        padding-inline: 0;
    }

    .gallery-index .gallery-list {
        margin-inline: 20px;
    }

    .sec-list-item h2 {
        font-size: 24px;
    }

    .home-sec-header h1 {
        font-size: 24px;
    }

    #home-sec1-content h1,
    #home-sec1-content h2 {
        font-size: 24px;
    }

    #home-sec1-content h3 {
        font-size: 20px;
    }

    #home-sec1-content h1,
    #home-sec1-content h2,
    #home-sec1-content h3,
    #home-sec1-content p {
        text-align: start;
    }

    #home-sec1-main-list {
        grid-template-columns: repeat(4, calc(100dvw - 40px));
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
    }

    #home-sec1-main-list>* {
        scroll-snap-stop: always;
        scroll-snap-align: center;
    }

    #home-sec1-main-list-tracker {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin-inline: auto;
        margin-bottom: 30px;
    }

    #home-sec1-main-list-tracker li {
        list-style: none;
        color: var(--secondary);
    }

    #home-sec1-main-list-tracker li:first-of-type {
        color: var(--tertiary);
    }

    #home-sec1-main-list-tracker li::before {
        content: "·";
        font-size: 135px;
        display: inline-block;
        height: 16px;
        width: 24px;
        line-height: 18px;
        vertical-align: middle;
    }

    /* #home-sec1-main-list a {
        margin-inline: auto;
    } */

    #home-sec1-content>hr {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #home-sec1-footer {
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column-reverse !important;
        margin: 0;
        max-width: 100dvw;
    }

    .summary-sheet-attribute {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .summary-sheet-attribute-label {
        text-align: center;
        padding-top: 16px;
        padding-bottom: 0;
    }

    .summary-sheet-attribute-value {
        max-width: calc(100% - 20px);
    }

    main:not(:has(.sec-header img)) #conteudo {
        border-block: 2px solid var(--secondary);
    }

    main:has(.sec-header img) #conteudo {
        width: inherit;
    }

    main:has(.sec-header img) .container {
        max-width: calc(100dvw - 40px);
    }


    main:has(.gallery-link) .container {
        flex-direction: column;
        max-width: 100dvw;
        align-items: center;
    }

    main:has(.gallery-link) #conteudo .row>div {
        max-width: 100%;
        margin-block: 40px;
    }

    main:has(.gallery-link) #links {
        margin-inline: 0;
        width: 100%;
        min-width: 100%;
    }

    main:has(.gallery-link) #links>div {
        width: 100%;
        max-width: 100%;
    }


    #contagem {
        padding-inline: 20px;
        text-align: start;
    }

    .wrapper:not(:has(.summary-sheet-attribute)) {

        #itens,
        #itens>tbody {
            width: 100%;
        }

        #itens .item {
            padding-block: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #itens .item:last-of-type {
            border-bottom: 2px solid black;
        }

        #itens .item .col {
            max-width: 100% !important;
            width: 100% !important;
            text-align: center;
            border: 0;
            padding-block: 7px;

            >* {
                margin-inline: auto;
            }
        }

        #itens .item:has(.col:nth-child(3)) {
            .col:nth-child(2) {
                padding-bottom: 14px;
            }

            .col:nth-child(3) {
                padding-top: 0;
            }
        }

        #itens .item:has(.col:nth-child(4)) {
            .col:nth-child(3) {
                padding-bottom: 0;
            }

            .col:nth-child(4) {
                padding-top: 14px;
            }
        }
    }

    /* #links #subgallery-links, */
    .wrapper:has(.summary-sheet-attribute) #conteudo:not(:has(.gallery-sidebar)) #itens,
    .browse-results-facets #filtros {
        display: none;
    }

    .wrapper:has(.summary-sheet-attribute) #conteudo:has(.gallery-sidebar) #itens {
        border: none;
    }

    .visibility-hidden {
        visibility: hidden;
        position: fixed;
    }

    #links span,
    #itens .item a {
        width: 100%;
    }

    #itens .item .col.titulo,
    #itens .item .col.tipo {
        margin: 0;
        padding-inline: 20px;
    }

    #itens .item .col.tipo {
        width: fit-content;
        max-width: fit-content;
    }

    #itens .item .col.titulo {
        width: fit-content !important;
        max-width: fit-content !important;
    }

    .wrapper:has(.summary-sheet-attribute) #itens:not(:has(.col.descricao:not(:empty))) .item .col.descricao {
        display: none;
    }

    .sec-list-item {
        flex-direction: column;
        /* aspect-ratio: unset; */
    }

    .sec-list-item .sec-img-div {
        max-width: 100%;
        margin-right: 0;
    }


    .sec-content .gallery-list .sec-img-div {
        max-width: calc(100dvw - 40px);
    }

    .sec-list-item>.sec-li-info-div {
        min-height: fit-content;
        gap: 20px;
    }

    .collection-list .sec-list-item>.sec-li-info-div {
        gap: 30px;
    }

    .sec-header {
        padding-inline: 20px !important;
        margin-bottom: 30px;
    }

    .sec-header h1 {
        font-size: 32px;
    }

    .sec-header>div:first-of-type {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .sec-header>div:first-of-type:has(label) {
        flex-direction: column;
        align-items: start;
        margin-bottom: 20px;
        gap: 10px;

        >label {
            padding: 9px;
        }
    }

    .sec-header>div:has(.select-div) {
        flex-direction: column;
        align-items: start;
        padding-bottom: 30px;
        gap: 30px;
        border-bottom: 2px solid var(--tertiary5);
    }

    .advanced-search-form form {
        flex-direction: column;
        padding-inline: 20px;
        width: 100dvw;
        gap: 5px;
    }

    .advanced-search-form-column {
        margin-top: 0;
    }

    .advanced-search-form-field>label {
        width: 100% !important;
    }

    .advanced-search-form-field>input,
    .advanced-search-form-field>div {
        min-width: 74% !important;
        --adv-search-form-field-marginX: 15px;
        margin-inline: var(--adv-search-form-field-marginX);
        width: calc(100% - var(--adv-search-form-field-marginX) * 2) !important;
    }

    .advanced-search-form .submit-button {
        padding-inline: 0;
    }

    .advanced-search-form .submit-button a {
        width: 100%;
    }

    #links span:after,
    .browse-results-facets h3:after,
    .wrapper #conteudo #contagem:after {
        content: "\f106";
        font-family: "FontAwesome";
        font-weight: bold;
        margin-left: 5px;
        position: absolute;
        right: 40px;
    }


    .browse-results-facets h3 {
        text-align: start;
    }

    .browse-results-facets h3:after {
        right: 15px;
    }

    /* #links span:after {
        position: absolute;
        right: 40px;
    } */

    #links:has(#subgallery-links):has(.visibility-hidden) span:after,
    .browse-results-table-grid:has(#filtros:not([style*="display: block"])) .browse-results-facets h3:after,
    .wrapper:has(.summary-sheet-attribute) #conteudo:not(:has(.gallery-sidebar)):has(#itens:not([style*="display: block"])) #contagem:after,
    .wrapper:has(.summary-sheet-attribute) #conteudo:has(#itens.visibility-hidden) #contagem:after {
        content: "\f107";
    }

    .browse-results-table-grid {
        grid-template-columns: 100%;
        grid-template-areas: "sec-header"
            "browse-results-facets"
            "browse-results"
            "sec-footer";
    }

    .browse-results {
        margin-inline: 0;
        padding: 0;
    }


    .table-overflow {
        scrollbar-width: unset;
        padding-bottom: 4px;
        scrollbar-color: var(--primary) var(--tertiary2);
    }


    .browse-results-table-wrapper {
        margin-left: 20px;
    }

    #conteudo:has(#itens) #itens:not([style*="display: block"])+.pagination-bar {
        display: none;
    }

    .browse-results-toolbar,
    .browse-results-sort-bar,
    .pagination-bar,
    main #paginacao {
        margin-inline: 20px;
    }

    .browse-results-toolbar {
        flex-direction: column;
        height: fit-content;
        padding-block: 20px;
    }

    .pagination-bar-summary,
    .pagina {
        width: 100%;
        margin-bottom: 12px;
        height: auto;
        line-height: 1;
    }

    .browse-results-toolbar-buttons {
        flex-direction: column;
        width: 100%;
        margin-inline: 15px;
        padding: 0;
    }


    .sec-header>div .select-div {
        width: 100%;
    }

    .browse-results-toolbar-buttons .select-div button,
    .sec-header>div:has(.select-div) .select-div button {
        width: 100% !important;
    }

    .sec-header>div:has(.select-div) .select-div button {
        justify-content: start;
        padding-left: 20px;
    }

    .browse-results-toolbar-buttons .select-div [popover],
    .sec-header>div:has(.select-div) .select-div [popover] {
        width: calc(100% - 40px);
    }

    .browse-results-toolbar-buttons .select-div [popover] *,
    .sec-header>div:has(.select-div) .select-div [popover] * {
        width: 100%;
    }

    .browse-results-sort-bar {
        padding-inline: 0;
    }

    .browse-results-sort-bar ul {
        flex-wrap: wrap;
    }

    .browse-results-facets {
        margin-block: 0;
        margin-inline: 20px;
        width: auto;
    }

    .pagination-bar,
    main #paginacao {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .pagination-bar>div {
        margin-block: 0;
    }

    .pagination-bar-summary {
        width: fit-content;
        padding-left: 0;
        /* width: 100%; */
    }

    .pagination-bar-summary,
    .pagination-bar-page-jumper,
    main #paginacao .jumper {
        margin-right: auto;
    }

    .pagination-bar-page-numbers,
    .paginas {
        --_horizontal-padding: 20px;
        --_jumper-width: 30px;
        --gap_between_jumpers: calc((100dvw - (2 * var(--_horizontal-padding) + 7 * var(--_jumper-width))) / 6);
        /* nº de jumpers: 7; nº de gaps: 6*/

    }

    .pagination-bar-page-numbers a,
    .paginas a {
        width: var(--_jumper-width);
        height: var(--_jumper-width);
    }

    .pagination-bar-page-numbers,
    .pagination-bar-page-numbers ul,
    .paginas,
    .paginas ul {
        display: flex;
        gap: var(--gap_between_jumpers);
    }

    .pagination-bar-page-numbers a,
    .pagination-bar-page-numbers ul li a,
    .paginas a,
    .paginas ul li a {
        margin-left: 0;
    }

    .sec-footer {
        padding-inline: 20px;
        margin-top: 30px;
    }

    .browse-results-table-header {
        border-block: 0;
    }

    .browse-results-table-header .browse-results-table-column {
        border-block: 2px solid var(--secondary);
    }

    main:has(#home-sec1) .sec-content:has(.home-gallery-hr-row) .gallery-list .sec-list-item {
        max-height: unset;
        margin-block: 20px;
    }

    .gallery-list .sec-li-info-div {
        /* aspect-ratio: unset; */
        width: 100%;
        padding-left: 0;
    }

    .gallery-list .sec-img-div {
        max-height: calc(90dvw + 34px);
        height: calc(90dvw + 34px);
        max-width: 100%;
        margin: 0;
    }

    .sec-content .gallery-list .sec-img-div>a {
        max-height: 90dvw;
    }

    .gallery-list .sec-img-div>a {
        width: 100%;
        height: 90dvw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--tertiary2);
    }

    .gallery-list .sec-img-div>a>img {
        max-height: 100%;
    }

    #media_representativa {
        padding-inline: 20px;
    }

    #media_representativa,
    #media_representativa iframe {
        width: 100%;
        min-width: 100%;
    }

    #media_representativa #images iframe {
        height: 74dvh;
        width: 100%;
    }

    #links {
        --link-marginX: 20px;
        margin-inline: var(--link-marginX);
        width: calc(100dvw - var(--link-marginX) * 2);
        padding-inline: 0;
        padding-bottom: 30px;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (width <=576px) {
    #itens .item .col.titulo {
        max-width: 300px !important;
    }

    .sec-header:has(img)>div:first-of-type {
        flex-direction: column-reverse;
        align-items: center;
    }
}


@media screen and (width <=400px) {
    .sec-content:has(.collection-list) .home-sec-header h1 {
        white-space: normal;
    }
}