/* HEADER START */
header {
    height: var(--header-height);
    min-height: var(--header-height);
    width: 100%;
    /* padding-inline: calc((100dvw - 1320px)*0.5); */

    color: var(--tertiary);
    background-color: var(--secondary);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    /* align-items: center; */

    --_header-margin-left: clamp(5px, 4dvw, 50px);
    --_header-padding-right: clamp(5px, 3dvw, 40px);
    --_header-form-gap: clamp(5px, 4dvw, 50px);
    --_header-logo-height: 80px;
    --_header-popover: 231px;
}

#header-logo-div {
    margin-left: var(--_header-margin-left);
    margin-block: calc((var(--header-height) - var(--_header-logo-height)) * 0.5);

    width: fit-content;
    height: fit-content;
}

#header-logo-link {
    width: fit-content;
    height: fit-content;
}

#header-logo-img {
    min-height: var(--_header-logo-height);
    min-width: var(--_header-logo-height);
}

header li,
header a {
    color: var(--tertiary);
    text-decoration: none;
    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    text-transform: uppercase;
}

header button {
    outline: none;
    border: 0;
    padding: 0;
    font-family: "Helvetica Neue Medium";
    font-size: 18px;
}

#header-main {
    margin-left: clamp(30px, calc(0.455*100dvw - 456.5px), 135px);
    padding-right: var(--_header-padding-right);
    width: 100%;

    color: inherit;
    background-color: inherit;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#header-link-list #header-lang-mobile {
    display: none;
}

#header-link-list {
    padding: 0;
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: end;
    gap: 45px;
    margin-top: 22px;
}

#header-link-list,
#header-link-list>li,
#header-link-list>li>a {
    max-height: 18px;
    line-height: 1;
}

#header-lang-desktop * {
    text-transform: uppercase;
    color: var(--tertiary);
    background-color: var(--secondary);
}

#header-lang-desktop button {
    anchor-name: --lang-anchor;
    padding-inline: 10px;
}
#lang-popover-div a {
    padding: 10px;
    padding-top: 16px;
    width: 62px;
}

#lang-popover-div {
    position: fixed;
    inset: auto;
    top: 0;
    left: anchor(--lang-anchor left);
}

#browse-popover-btn,
#header-lang-desktop button {
    max-height: 18px;
    line-height: 1;
    cursor: pointer;

    color: var(--tertiary);
    background-color: var(--secondary);
    border: 0;

    font-family: "Helvetica Neue Roman";
    font-size: 18px;
    text-transform: uppercase;

    &:hover {
        color: var(--primary);

        &::after {
            border-color: var(--primary);
        }
    }
}

#browse-popover-btn::after, #header-lang-desktop button:after {
    content: '';
    display: inline-block;
    border: solid var(--tertiary);
    border-width: 0 2px 2px 0;
    padding: 4px;

    margin-inline: 5px;
    translate: 5px -4px;
    transform: rotate(45deg);
}

#browse-popover-wrapper,
#browse-popover-list {
    background-color: var(--secondary);
    border: 0;
    padding: 0;
}

#browse-popover-wrapper {
    width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#browse-popover-btn {
    anchor-name: --browse-anchor;
    width: 100%;
    text-align: start;
    padding-inline: 10px;
}

#browse-popover-list {
    list-style: none;
    width: inherit;

    position: absolute;
    inset: auto;
    overflow: hidden;

    /* border: 1px solid var(--tertiary);
    border-radius: 4px; */

    position-anchor: --browse-anchor;
    top: 0;
    left: anchor(--browse-anchor left);
}

#browse-popover-list * {
    width: 100%;
}

#browse-popover-list li a {
    padding-inline: 10px;
    padding-block: 8px;
}

#browse-popover-list li:first-of-type a {
    padding-top: 16px;
}

#header-link-list:has(#browse-popover-btn:hover) #browse-popover-list,
#browse-popover-list:not(:hover):popover-open,
#browse-popover-list:hover,
#header-link-list:has(#header-lang-desktop button:hover) #header-lang-desktop > div,
#header-lang-desktop > div:not(:hover):popover-open,
#header-lang-desktop > div:hover {
    display: block;
    transform: translateY(40px);
    position: fixed;
}

#header-form:has(#header-adv-search-popover:popover-open) #header-adv-search-btn,
#header-form:has(#header-adv-search-btn:hover) #header-adv-search-btn,
#header-form:has(#header-adv-search-popover:hover) #header-adv-search-btn {
    color: var(--primary);

    &::after {
        border-color: var(--primary);
    }
}

#header-link-list li:last-of-type a {
    text-transform: uppercase;
}

/* #header-link-list>li:last-of-type::before {
    content: "|";
    margin-right: 14px;
} */

#header-link-list a:hover {
    color: var(--primary);
}

#header-form {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 13px;
    gap: var(--_header-form-gap);
    background-color: inherit;
    padding-bottom: 20px;

}

#header-adv-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-transform: capitalize;
    height: 48px;
    width: var(--_header-popover);
    min-width: var(--_header-popover);
    color: var(--tertiary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    padding: 4px;

    >img {
        filter: var(--filter-bienal-pink);
    }

    &:hover,
    &:focus {
        cursor: pointer;
        color: var(--tertiary);
        background-color: var(--tertiary4);
        border: 1px solid var(--tertiary);

        >img {
            filter: var(--filter-bienal-white);
        }
    }
}

#header-search-form {
    display: flex;
    height: 48px;
    width: calc(100% - var(--_header-popover));
    border: 1px solid var(--tertiary2);
    border-radius: 4px;
    padding: 4px;
}

#header-search-form img {
    margin-right: 5px;

    &:hover {
        cursor: pointer;
    }
}

#header-search-form button,
#header-search-form input {
    color: var(--tertiary);
    background-color: var(--secondary);
}

#header-search-form input::placeholder {
    color: var(--tertiary4);
}

#header-search-form input {
    width: 100%;
    border: 0;
    padding-left: 15px;
    font-family: "Helvetica Neue Roman";
    font-size: 18px;

    &:focus {
        outline: none;
    }
}

#header-search-form button:focus {
    outline: auto;
}

#header-form:has(#header-adv-search-popover:popover-open) #header-adv-search-btn,
#header-form:has(#header-adv-search-btn:hover) #header-adv-search-btn,
#header-form:has(#header-adv-search-popover:hover) #header-adv-search-btn {
    color: var(--tertiary);
    background-color: var(--tertiary4);
    border: 1px solid var(--tertiary);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    >img {
        filter: var(--filter-bienal-white);
    }
}

#header-form:has(#header-adv-search-btn:hover) #header-adv-search-popover,
#header-adv-search-popover:not(:hover):popover-open,
#header-adv-search-popover:hover {
    display: block;
    transform: translateY(100%);
    position: fixed;
}

#header-adv-search-btn {
    anchor-name: --adv-search-anchor;
}

#header-adv-search-popover {
    border: 0;
    border-left: 1px solid var(--tertiary);
    border-right: 1px solid var(--tertiary);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    width: var(--_header-popover);

    position: absolute;
    inset: auto;
    overflow: hidden;

    position-anchor: --adv-search-anchor;
    bottom: anchor(--adv-search-anchor bottom);
    left: anchor(--adv-search-anchor left);
}

#header-adv-search-popover *,
#browse-popover-list * {
    outline: none;
}

#header-adv-search-popover ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#header-adv-search-popover ul>li {
    min-width: var(--_header-popover);
    height: 48px;
    border-bottom: 1px solid var(--tertiary);
}

#header-adv-search-popover ul>li>a {
    width: 100%;
    padding-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    text-transform: uppercase;
    font-family: "Helvetica Neue Medium";

    &:hover,
    &:focus {
        background-color: var(--tertiary4);
    }
}

header hr {
    display: none;
}

#hamburger-btn {
    display: none;
}

@media screen and (width < 1100px) {
    header {
        --_header-margin-left: calc(clamp(5px, 4dvw, 50px) * 0.75);
        --_header-padding-right: calc(clamp(5px, 3dvw, 40px) * 0.5);
        --_header-form-gap: calc(clamp(5px, 4dvw, 50px) * 0.5);
    }

    #header-main {
        margin-left: var(--_header-margin-left);
    }
}

@media screen and (width <=940px) {
    :root {
        --header-height: 70px;
    }

    header {
        --_header-logo-height: 50px;
        --_header-popover: calc(100dvw - 40px);
    }

    #hamburger-btn {
        display: block;
        height: var(--header-height);
        background-color: inherit;
        margin-left: auto;
    }

    #hamburger-btn>svg {
        pointer-events: none;
        filter: var(--filter-bienal-white);
        margin: 20px;
        height: 30px;
    }

    #header-main {
        display: none;
        position: fixed;
        top: var(--header-height);
        left: 0;
        margin: 0;
        padding: 0px;
        height: 425px;
    }

    /* header:has(>button:focus) #header-main,
    #header-main:has(:focus,:active) {
        display: flex;
    } */

    #header-link-list #header-lang-desktop {
        display: none;
    }

    #header-link-list #header-lang-mobile {
        display: inline-flex;
    }

    #header-link-list {
        flex-direction: column;
        margin: 0;
        max-height: fit-content;
        gap: unset;
    }

    #header-link-list li,
    #header-link-list a,
    #header-link-list button {
        min-height: 51px;
    }

    #header-link-list>li>a,
    #header-link-list>li>button {
        padding-inline: 20px;
    }

    #header-link-list a {
        /* width: 100%; */
        display: inline flex;
        align-items: center;
    }

    #header-link-list>li:not(:last-of-type):has(a:focus) {
        background-color: var(--primary);

        >a {
            color: var(--tertiary);
        }
    }

    #header-link-list>li:last-of-type {
        border-block: 2px solid var(--tertiary);
        margin-inline: 20px;
        display: inline flex;
        align-items: center;
    }

    #header-link-list>li:last-of-type a {
        width: fit-content;
        padding: 0;
    }

    #header-link-list>li:last-of-type::before {
        content: unset;
    }

    #header-adv-search-popover {
        top: 0;
    }

    #header-form:has(#header-adv-search-btn:hover) #header-adv-search-popover,
    #header-adv-search-popover:not(:hover):popover-open,
    #header-adv-search-popover:hover {
        transform: translateY(385px);
    }

    #browse-popover-list {
        width: 100%;
        border-block: 2px solid var(--tertiary);

        z-index: 100;
        left: 0;
    }

    #header-link-list:has(#browse-popover-btn:hover) #browse-popover-list,
    #browse-popover-list:not(:hover):popover-open,
    #browse-popover-list:hover {
        transform: translateY(271px);
    }

    #browse-popover-list li a {
        padding-inline: 30px;
    }

    #header-form {
        flex-direction: column;
        align-items: center;
        /* margin-block: 20px; */
        gap: 20px;
    }

    header hr {
        display: block;
        width: calc(100dvw - 40px);
        border: 0;
        border-top: 2px solid var(--tertiary);
    }

    #header-search-form {
        width: calc(100dvw - 40px);
    }

    #header-adv-search-btn {
        justify-content: start;
        padding-left: 20px;
    }
}

/* HEADER END */
